<template>
    <div v-if="mappingData">
        <button class="btn btn-primary btn-import" @click="importClick">Import data to contacts</button>
        <div class="mapping-table">
            <table class="table">
                <thead>
                <tr>
                    <th v-for="header in mappingDataCSV[0]" scope="col">{{header}}</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td v-for="mapping in mappingResult">
                        <select class="mapping-select" :name="'selectColumn_' + mapping[0]" :key="mapping[0]" v-model="mapping[2]">
                            <option v-for="column in mappingColumns" :value="column">{{column}}</option>
                        </select>
                    </td>
                </tr>
                <tr v-for="index in mappingDataCSV.length">
                    <td v-for="data in mappingDataCSV[index]">
                        {{data}}
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</template>

<script>
    export default {
        name: 'Mapping',
        data() {
            return {
                mappingResult: []
            }
        },
        created() {
            if (this.mappingDataCSV.length) {
                for (let i = 0; i < this.mappingDataCSV[0].length; i++) {
                    let header = this.mappingDataCSV[0][i];
                    let column = 'No mapping';

                    for(let j = 0; j < this.mappingColumns.length; j++) {
                        let compare_array = [
                            this.mappingColumns[j].toLowerCase(),
                            this.mappingColumns[j].toLowerCase().replace(/_/g, ' '),
                        ];

                        if(compare_array.indexOf(header.toLowerCase()) !== -1) {
                            column = this.mappingColumns[j];
                            break;
                        }
                    }

                    this.mappingResult.push([
                        i,
                        header,
                        column
                    ]);
                }
            }
        },
        methods: {
            importClick() {
                this.$store.dispatch('app/mappingResult', { data: this.mappingResult });
            }
        },
        computed: {
            mappingData() {
                return this.$store.getters.mapping_data;
            },
            mappingColumns() {
                return (this.mappingData) ? this.mappingData.columns : [];
            },
            mappingDataCSV() {
                return (this.mappingData) ? JSON.parse(this.mappingData.csv_data.csv) : [];
            }
        }
    }
</script>

<style scoped>
    .mapping-select {
        width: 115px;
    }

    .btn-import {
        margin: 15px 0;
    }

    .mapping-table {
        overflow: auto;
    }
</style>