<template>
    <div class="import-cont">
        <div class="import-sub-cont">
            <label>
                CSV file to import <input ref="import-file-input" type="file" class="import-file-input form-control-file" name="csvFile" accept=".csv">
            </label>
            <!--<div class="import-header-checkbox-cont">
                <label class="import-header-checkbox-label">
                    <input class="import-header-checkbox" type="checkbox" name="header" v-model="headerStatus">
                    File contains header row?
                </label>
            </div>-->
            <div class="import-errors">{{responseErrors}}</div>
            <button class="btn btn-primary" @click="parseClick">Parse CSV</button>
        </div>
    </div>
</template>

<script>
    export default {
        name: 'Import',
        data() {
            return {
            };
        },
        methods: {
            parseClick(e) {
                const files = this.$refs['import-file-input'].files;
                const csvFile = files[0];
                if (!csvFile) {
                    this.$store.dispatch('app/responseErrors', { errors: 'File not selected' });
                    return;
                }
                this.$refs['import-file-input'].value = null;
                this.$store.dispatch('app/responseErrors', { errors: '' });
                this.$store.dispatch('app/uploadCSVFile', { file: csvFile });
            }
        },
        computed: {
          responseErrors() {
              return this.$store.getters.response_errors;
          }
        },
        watch: {
        }
    }
</script>

<style lang="scss" scoped>
    .import-cont {
        display: flex;
        flex-direction: column;
        align-items: center;

        .import-sub-cont {
            display: flex;
            flex-direction: column;
            align-items: self-start;
            width: 300px;
        }

        .import-errors {
            margin: 0 0 15px 0;
        }

        .import-errors {
            color: red;
        }
    }
</style>
