<template>
    <div v-if="contacts">
        <button class="btn btn-primary btn-update" @click="updateClick">Update</button>
        <div class="contacts-table">
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Team ID</th>
                    <th scope="col">Unsubscribed status</th>
                    <th scope="col">First name</th>
                    <th scope="col">Last name</th>
                    <th scope="col">Phone</th>
                    <th scope="col">Email</th>
                    <th scope="col">Sticky phone number id</th>
                    <th scope="col">Twitter ID</th>
                    <th scope="col">FB messenger ID</th>
                    <th scope="col">Time zone</th>
                    <th scope="col">CUSTOM FIELDS</th>
                </tr>
                </thead>
                <tbody>
                <template v-for="contact in contacts">
                    <tr>
                        <td>{{contact.id}}</td>
                        <td>{{contact.team_id}}</td>
                        <td>{{contact.unsubscribed_status}}</td>
                        <td>{{contact.first_name}}</td>
                        <td>{{contact.last_name}}</td>
                        <td>{{contact.phone}}</td>
                        <td>{{contact.email}}</td>
                        <td>{{contact.sticky_phone_number_id}}</td>
                        <td>{{contact.twitter_id}}</td>
                        <td>{{contact.fb_messenger_id}}</td>
                        <td>{{contact.time_zone}}</td>
                        <td>
                            <table v-if="contact.custom_fields.length" class="table-sm">
                                <tbody>
                                <tr v-for="custom_field in contact.custom_fields">
                                    <td class="custom-head">
                                        {{custom_field.key}}
                                    </td>
                                    <td>
                                        {{custom_field.value}}
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                </template>
                </tbody>
            </table>
        </div>
    </div>
</template>

<script>
    export default {
        name: 'ViewCVS',
        mounted() {
            this.$store.dispatch('app/contactsLoad');
        },
        computed: {
            contacts() {
                return (this.$store.getters.contacts_load) ? this.$store.getters.contacts_load : [];
            }
        },
        methods: {
            updateClick() {
                this.$store.dispatch('app/contactsLoad');
            }
        }
    }
</script>

<style scoped>
    .contacts-table {

    }

    .btn-update {
        margin: 15px 0;
    }

    .custom-head {
        font-weight: bold;
    }
</style>