<template>
    <div id="app">
        <div class="app-container container-fluid">
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <router-link class="nav-link" :to="{ name: 'upload' }">Upload</router-link>
                </li>
                <li v-if="idCsvData != -1" class="nav-item">
                    <router-link class="nav-link nav-link-mapping" :to="{ name: 'mapping' }">Mapping</router-link>
                </li>
                <li class="nav-item">
                    <router-link class="nav-link" :to="{ name: 'viewcsv' }">View Contacts</router-link>
                </li>
            </ul>

            <div class="jumbotron jumbotron-fluid jumbotron-content">
                <div class="content-container">
                    <router-view></router-view>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: 'App',
        computed: {
            idCsvData() {
                return this.$store.getters.id_csv_data;
            }
        }
    };
</script>

<style scoped>
    .app-container {
        padding-top: 20px;
    }

    .router-link-exact-active {
        color: #495057;
        background-color: #f8fafc;
        border-color: #dee2e6 #dee2e6 #f8fafc;
    }

    .nav-link-mapping {
        background-color: antiquewhite;
    }

    .content-container {
    }

    .jumbotron-content {
        padding: 15px 10px;
    }
</style>
